# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Xcode
.DS_Store
build/
*.pbxuser
!default.xcworkspace
xcuserdata
profile
DerivedData
Tests/Pods
Tests/Podfile.lock
